<%- include('partials/header') %>

<div class="choisesToEnterPage">
    <div class="threeChoisesDiv d-flex"> 
        <a href="/logIn" class="logIn choises"><h1>LOGIN</h1></a>
        <a href="/guest" class="guset choises"><h1>GUEST</h1></a>
        <a href="/signUp" class="signUp choises"><h1>SIGNUP</h1></a>
    </div>
</div>



<%- include('partials/footer') %>
