<%- include('partials/header') %>
<div class="errorPage">
    <img src="/images/sad-face.png" alt="sadEmoji" class="errImg">
    <br><br><br>
    <h1 class="errMessage">PAGE NOT FOUND !!!</h1>
</div>
<%- include('partials/footer') %>