<%- include('partials/header') %>
<div class="homePage">
    <a class="backgroundOfText" href="authCoises">
        <h1 class="homePageParagraph">
            Talabat
        </h1>
    </a>
</div>
<%- include('partials/footer') %>
